body {
    background-color: #FAFAFA;
    
}

.input{
    color: #373E46;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: content-box;
    resize: vertical;
}


.button{
    color: #373E46;
            border-radius: 4px;
            font-size: 110%;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            background: #FFC334;
}